div(style="width: 100%; text-align: center")
	h1(style="font-size: 72px")= title
	p Hello Richard from #{unit} of #{organization}.  
	p I hope the weather is nice in #{location}, #{state}, #{country}.