h1 #{item.make} #{item.model}, [#{item.serial_no}]
br
div.row(style="margin-left: 10px;")
	div.span9
		ul.nav.nav-tabs
			li.active
				a(href="#gen-info",data-toggle="tab") General Information
			li
				a(href="#disposition",data-toggle="tab") Disposition
			li
				a(href="#location",data-toggle="tab") Location
			- if (typeof(item.accessories) != "undefined")
				li
					a(href="#accessories",data-toggle="tab") Accessories
			- if (typeof(item.software) != "undefined")
				li
					a(href="#software",data-toggle="tab") Software
			- if (typeof(item.warranty) != "undefined")
				li
					a(href="#warranty",data-toggle="tab") Warranty
			li
				a(href="#actions",data-toggle="tab") Actions
		div.tab-content
			div#gen-info.tab-pane.active
				!=partial("partials/tables/gen-info", { inv_item: item, border: true, condensed: true })
			div#disposition.tab-pane
				!=partial("partials/tables/disposition", { inv_item: item, border: true, condensed: true })
			div#location.tab-pane
				!=partial("partials/tables/location", { inv_item: item, border: true, condensed: true })	
			div#accessories.tab-pane
				!=partial("partials/tables/accessories", { edit: false, accessories: item.accessories, condensed: true, border: true })
			div#software.tab-pane
				!=partial("partials/tables/software", { edit: false, software: item.software, condensed: true, border: true })
			div#warranty.tab-pane
				!=partial("partials/tables/warranty", { warranty: item.warranty, border: true, condensed: true })
			div#actions.tab-pane
				!=partial("partials/tables/actions", { inv_item: item, border: true, condensed: true })	
		br
		form.form-horizontal(action="/comments/item/#{item.id}", method="POST")
			textarea#make_comment.span9 Make Comment
	div.span3
		img( src="https://chart.googleapis.com/chart?cht=qr&choe=UTF-8&chs=177x177&chl=#{config.base_url}/inv/item#{item.id}")
		div.actions
			span 
				i.icon-tasks.mr10
				span Available Actions
			- if (item.disposition == "Available" && (user.is_in_role('assign_inventory') || item.allow_self_issue))
				button.btn.btn-success.mr10(type="button", onclick="window.location = '/inv/item/#{item.id}/issue';") Issue Item
			- if (item.disposition == "Issued" && user.is_in_role('check_in_inventory'))
				button.btn.btn-warning.mr10(type="button", onclick="window.location = '/inv/item/#{item.id}/checkin';") Check In Item
			- if (item.disposition == "Borrowed" && user.is_in_role('check_in_inventory'))
				button.btn.btn-warning.mr10(type="button", onclick="window.location = '/inv/item/#{item.id}/return';") Return Item
				button.btn.btn-warning.mr10(type="button", onclick="window.location = '/inv/item/#{item.id}/extend';") Extend Borrow Time
			- if (user.is_in_role('admin'))
				button.btn.btn-info.mr10(type="button", onclick="window.location = '/inv/item/#{item.id}/update';") Update Information
			- if (user.is_in_role('admin'))
				button.btn.btn-danger.mr10(type="button", onclick="window.location = '/inv/item/#{item.id}/remove';") Remove Item
			button.btn.btn-inverse(type="button", onclick="window.history.back();") Go Back