div.lead(style="max-width: 660px;") The inventory item is currently listed as being in 
	strong #{item.condition} 
	| condition, having been received into the company's inventory on &nbsp;
	strong #{item.date_received}
	| .  To view the history of the inventory item, please visit the item's 
	a(href="/inv/item/#{item.serial_no}") info page
	| .
br
form.form.form-search.ml30(action="/inv/item/#{item.serial_no}/loan", method="POST")
	span User to Loan Item:
	input.ml10(type="text", name="ctx[user]", autocomplete, source="users", data-load="continuous")
	span.ml10 For:
	input.ml10(type="text", style="width: 100px", name="ctx[borrow_time]", value="#{item.borrow_time}")
	button.btn.btn-danger.ml10(type="submit") Loan
br
blockquote(style="max-width: 620px;") Assignments last until the user leaves the company, refreshes the equipment, 
	| or turns it back in for some other reason.  If you want to issue this item 
	| for a short period of time, please 
	a(href="/inv/item/#{item.serial_no}/loan") loan the item
	| .  If you are attempting to borrow the item for yourself, please 
	a(href="/inv/item/#{item.serial_no}/borrow")  borrow 
	| the item instead of issuing it to yourself.