- if (typeof(elem_id) == "undefined")
	- var elem_id = "";
- if (typeof(width) == "undefined")
	- var width = "87px"
div.input-prepend
	- if (typeof(disabled) != "undefined" && disabled == true)
		input#line1(id="#{elem_id}", type="text", name="#{id}", value="#{value}", style="width: #{width}", disabled="true")
	- else
		input#line1(id="#{elem_id}", type="text", name="#{id}", value="#{value}", style="width: #{width}")
	span.add-on(style="font-size: #{font_size}") #{postlabel}
	- if (typeof(help) != "undefined")
		p.help-block.form-comment.w420px #{help}