legend Location
div.control-group
	label.control-label Mobile?:
	div.controls
		label.radio No, it stays put.
			- if (item.location.is_mobile == false || item.location.is_mobile == "false")
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="false", checked="checked")
			- else
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="false")
		label.radio Yes, it will migrate with the user.
			- if (item.location.is_mobile == true || item.location.is_mobile == "true")
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="true", checked="checked")
			- else
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="true")
	br
	label.control-label Primary Location:
	div.controls
		select#office(name="inv[office]")
			option(value="reston") Berico Reston
			option(value="rosslyn") Berico Rosslyn
			option(value="other") Other
			- if (is_edit)
				option(value="old_loc") [Original Location]
		p.help-block.form-comment.w420px If the item is mobile, specify the location
			| the item will reside most of the time.  If this is a residence, please
			| specify that location.
	br
	!=partial("partials/controls/textbox", { label: "Room (if office):", id: "inv[loc_room]", value: item.location.room })
	!=partial("partials/controls/prelabel_textbox", { label: "Address:", elem_id: "line1", prelabel: "L1", id: "inv[loc_line1]", value: item.location.line1, width: "182px" })
	div(style="height: 6px") &nbsp;
	!=partial("partials/controls/prelabel_textbox", { label: "&nbsp;", elem_id: "line2", prelabel: "L2", id: "inv[loc_line2]", value: item.location.line2, width: "182px" })
	div(style="height: 6px") &nbsp;
	label.control-label &nbsp;
	div.controls
		!=partial("partials/controls/prelabel_textbox_basic", { prelabel: "City", elem_id: "city", id: "inv[loc_city]", value: item.location.city, width: "90px" })
		span &nbsp;
		!=partial("partials/controls/prelabel_textbox_basic", { prelabel: "State", elem_id: "state", id: "inv[loc_state]", value: item.location.state, width: "30px" })
		span &nbsp;
		!=partial("partials/controls/prelabel_textbox_basic", { prelabel: "Zip", elem_id: "zipcode", id: "inv[loc_zipcode]", value: item.location.zipcode, width: "50px" })

script(type="text/javascript")

	//Save the old location just in case.
	var old_loc = {};
	old_loc.line1 = "#{item.location.line1}";
	old_loc.line2 = "#{item.location.line1}";
	old_loc.city = "#{item.location.city}";
	old_loc.state = "#{item.location.city}";
	old_loc.zipcode = "#{item.location.zipcode}";

	var reston = {
		line1: "11130 Sunrise Valley Drive",
		line2: "Suite 300",
		city: "Reston",
		state: "VA",
		zipcode: "20191"
	};

	var rosslyn = {
		line1: "1501 Lee Highway",
		line2: "Suite 303",
		city: "Arlington",
		state: "VA",
		zipcode: "22209"
	};

	function select(element, value){
		$("#" + element + " option[value='" + value + "']").attr("selected", true);
	}

	function apply_location(location){
		$("#line1").attr("value", location.line1);
		$("#line2").attr("value", location.line2);
		$("#city").attr("value", location.city);
		$("#state").attr("value", location.state);
		$("#zipcode").attr("value", location.zipcode);
	}

	$(function(){
		select("itype", "#{item.type}");
		select("issuability", "#{item.issuability}");
		$("#office").change(function(){
			var value = $("#office").val();
			if(value == "rosslyn"){
				apply_location(rosslyn);
			}
			else if(value == "reston"){
				apply_location(reston);
			}
			else if(value == "old_loc"){
				apply_location(old_loc);
			}
		});
	});