legend Location
div.control-group
	label.control-label Mobile?:
	div.controls
		label.radio No, it stays put.
			- if (item.location.is_mobile == false || item.location.is_mobile == "false")
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="false", checked="checked")
			- else
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="false")
		label.radio Yes, it will migrate with the user.
			- if (item.location.is_mobile == true || item.location.is_mobile == "true")
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="true", checked="checked")
			- else
				input.radio.inline(type="radio", name="inv[loc_is_mobile]", value="true")
	br	
	!=partial("partials/controls/hidden", { elem_id: "loc_selected_value", value: JSON.stringify(item.location) })
	!=partial("partials/controls/autocomplete", { label: "Known Location:", source: "locations", data_load: "one-time", sync_with: "#loc_selected_value", show_button: is_edit, button_id: "loc_reset", button_label: "Reset to Original Value", help: "Type the name of a known location, 'Berico Reston' or 'Berico Rosslyn', otherwise, ignore this field and enter the address the item resides.  If the item is mobile (Laptop or Cell Phone), please enter the location it is most often kept." })
	
	!=partial("partials/controls/textbox", { label: "Room (if office):", elem_id: "room", id: "inv[loc_room]", value: item.location.room })
	!=partial("partials/controls/prelabel_textbox", { label: "Address:", elem_id: "line1", prelabel: "L1", id: "inv[loc_line1]", value: item.location.line1, width: "182px" })
	div(style="height: 6px") &nbsp;
	!=partial("partials/controls/prelabel_textbox", { label: "&nbsp;", elem_id: "line2", prelabel: "L2", id: "inv[loc_line2]", value: item.location.line2, width: "182px" })
	div(style="height: 6px") &nbsp;
	label.control-label &nbsp;
	div.controls
		!=partial("partials/controls/prelabel_textbox_basic", { prelabel: "City", elem_id: "city", id: "inv[loc_city]", value: item.location.city, width: "90px" })
		span &nbsp;
		!=partial("partials/controls/prelabel_textbox_basic", { prelabel: "State", elem_id: "state", id: "inv[loc_state]", value: item.location.state, width: "30px" })
		span &nbsp;
		!=partial("partials/controls/prelabel_textbox_basic", { prelabel: "Zip", elem_id: "zipcode", id: "inv[loc_zipcode]", value: item.location.zipcode, width: "50px" })

script(type="text/javascript")

	//Save the old location just in case.
	var old_loc = {};
	old_loc.room = "#{item.location.room}";
	old_loc.line1 = "#{item.location.line1}";
	old_loc.line2 = "#{item.location.line2}";
	old_loc.city = "#{item.location.city}";
	old_loc.state = "#{item.location.state}";
	old_loc.zipcode = "#{item.location.zipcode}";

	function select(element, value){
		$("#" + element + " option[value='" + value + "']").attr("selected", true);
	}

	function apply_location(location){
		$("#line1").attr("value", location.line1);
		$("#line2").attr("value", location.line2);
		$("#city").attr("value", location.city);
		$("#state").attr("value", location.state);
		$("#zipcode").attr("value", location.zipcode);
		if(typeof(location.room) != "undefined"){
			$("#room").attr("value", location.room);
		}
	}

	$(function(){
		select("itype", "#{item.type}");
		select("issuability", "#{item.issuability}");
		$("#loc_selected_value").change(function(){
			var value = JSON.parse($("#loc_selected_value").val());
			apply_location(value);
		});

		$("#loc_reset").click(function(){
			apply_location(old_loc);
		});
	});