action = "/inv/new"

- if (is_edit)
	action = "/inv/" + item.serial_no

form.form-horizontal(action="#{action}", method="POST")
	- if (typeof(item._rev) != "undefined")
		input(type="hidden", name="inv[_rev]", value="#{item._rev}")
	- if (typeof(item.ext) != "undefined")
		input(type="hidden", name="inv[ext]", value="#{item.ext}")
	!=partial("partials/forms/inv_geninfo", this)
	!=partial("partials/forms/inv_accessories", this)
	!=partial("partials/forms/inv_software", this)
	!=partial("partials/forms/inv_disposition", this)
	!=partial("partials/forms/inv_location", this)	
	!=partial("partials/forms/inv_actions", this)	
	div.form-actions
		case is_edit
			when true
				button.btn.btn-primary.mr10(type="submit") Update Item
				button.btn.btn-danger.mr10(type="button", onclick="window.location='/inv/#{item.serial_no}/remove';") Remove Item
			default
				button.btn.btn-primary.mr10(type="submit") Add Item
		button.btn.btn-inverse(type="button", onclick="window.history.back();") Go Back

script(type="text/javascript")

	//Save the old location just in case.
	var old_loc = {};
	old_loc.line1 = "#{item.location.line1}";
	old_loc.line2 = "#{item.location.line1}";
	old_loc.city = "#{item.location.city}";
	old_loc.state = "#{item.location.city}";
	old_loc.zipcode = "#{item.location.zipcode}";

	var reston = {
		line1: "11130 Sunrise Valley Drive",
		line2: "Suite 300",
		city: "Reston",
		state: "VA",
		zipcode: "20191"
	};

	var rosslyn = {
		line1: "1501 Lee Highway",
		line2: "Suite 303",
		city: "Arlington",
		state: "VA",
		zipcode: "22209"
	};

	function select(element, value){
		$("#" + element + " option[value='" + value + "']").attr("selected", true);
	}

	function apply_location(location){
		$("#line1").attr("value", location.line1);
		$("#line2").attr("value", location.line2);
		$("#city").attr("value", location.city);
		$("#state").attr("value", location.state);
		$("#zipcode").attr("value", location.zipcode);
	}

	$(function(){
		select("itype", "#{item.type}");
		select("issuability", "#{item.issuability}");
		$("#office").change(function(){
			var value = $("#office").val();
			if(value == "rosslyn"){
				apply_location(rosslyn);
			}
			else if(value == "reston"){
				apply_location(reston);
			}
			else if(value == "old_loc"){
				apply_location(old_loc);
			}
		});
	});


